:doc
  @name UIFlyout
  recommended skins:
    %ui-kit/skins/flyout/index.ess
    %ui-kit/skins/flyout/position/bottom.ess
  @prop {Boolean}  [hideOnClick] Always hide flyout after anything is clicked
  @prop {String}   [position] applies state classes for position
  @prop {Boolean}  [showCloseButton=false] Shows close button that calls hideMenu
  @prop {Boolean}  [lazyYield] Do not yield the menu unless menu is active
  @prop {Boolean}  [manualHide] Only hide flyout by calling toggle or hide
  @prop {Boolean}  [showMenuOnLoad] Mounts with flyout open
  @prop {Number}   [animationTimeout=0] number in ms to wait before removing menu, or sending false value for isActive
  @prop {Boolean}  [scrollToMenu=true] body will scroll to fully show menu when active
  @prop {Object}   [scrollToMenuOptions={}] custom options for scroll-to-element
  @prop {String}   [hideMenuKeyBinding] key to listen for that will hide flyout
  @prop {String}   [showMenuKeyBinding] key to listen for that will show flyout
  @prop {String}   [toggleMenuKeyBinding] key to listen for that will toggle flyout
  @prop {Function} [onComponentWillHide] called when component will hide
  @prop {Funciton} [onComponentWillShow] called when component will show

import * as scrollToElement from 'scroll-to-element'
import elContains from '../../utils/element-contains-el'
import {attachKeybinding, removeKeybindings} from '../../utils/keybinding.js'

import './index.ess'

:js
  var classFn = this.composeClasses('UIFlyout', {
    'active': state.isActive,
    'has-trigger': props.trigger,
    'position-@': props.position
  })

  var fns= {
    classFn: classFn,
    hide: this.hideMenu,
    show: this.showMenu,
    toggle: this.toggleMenu }

div(className=classFn())
  yield trigger(fns, state.isActive)
  if props.lazyYield
    if state.isActive || state.animationPending
      div(className=classFn('&-menu') ref='menu')
        yield menu(fns, state.isActive)
        if props.showCloseButton
          div(className=classFn('&-menu-close'))
  else
    div(className=classFn('&-menu') ref='menu')
      yield menu(fns, state.isActive)
      if props.showCloseButton
        div(className=classFn('&-menu-close'))

:module
  export var mixins = [require('../../mixins/compose-classes')]

  export function getDefaultProps () {
    return {
      animationTimeout: 0,
      scrollToMenu: {}
    };
  }

  export function componentDidMount () {
    if (this.props.showMenuKeyBinding) {
      attachKeybinding(this.props.showMenuKeyBinding, this.showMenu);
    }
    if (this.props.toggleMenuKeyBinding) {
      attachKeybinding(this.props.toggleMenuKeyBinding, this.toggleMenu);
    }
    if (this.props.showMenuOnLoad) this.showMenu();
  }

  export function componentWillReceiveProps (nextProps) {
    if (nextProps.showMenuKeyBinding !== this.props.showMenuKeyBinding) {
      removeKeybindings(this.props.showMenuKeyBinding);
      attachKeybinding(nextProps.showMenuKeyBinding, this.showMenu);
    }
    if (nextProps.hideMenuKeyBinding !== this.props.hideMenuKeyBinding) {
      removeKeybindings(this.props.hideMenuKeyBinding);
      attachKeybinding(nextProps.hideMenuKeyBinding, this.hideMenu);
    }
    if (nextProps.toggleMenuKeyBinding !== this.props.toggleMenuKeyBinding) {
      removeKeybindings(this.props.toggleMenuKeyBinding);
      attachKeybinding(nextProps.toggleMenuKeyBinding, this.toggleMenu);
    }
    if (nextProps.showMenuOnLoad && !this.state.hasShownMenuOnLoad) {
      this.showMenu();
      this.setState({hasShownMenuOnLoad: true});
    }
  }

  export function componentWillUpdate (newProps, newState) {
    if (!newState.isActive && this.props.onComponentWillHide) this.props.onComponentWillHide();
    if (newState.isActive  && this.props.onComponentWillShow) this.props.onComponentWillShow();
  }

  export function componentDidUpdate (prevProps, prevState) {
    if (this.state.isActive && !prevState.isActive) {
      this.scrollToMenu();
      if (this.props.onShow) this.props.onShow();
      if (!this.props.manualHide) window.addEventListener('click', this.onWindowClick);
    }
    if (!this.state.isActive && prevState.isActive) {
      if (this.props.onHide) this.props.onHide();
    }
  }

  export function componentWillUnmount () {
    window.removeEventListener('click', this.onWindowClick);
    removeKeybindings([this.props.showMenuKeyBinding, this.props.hideMenuKeyBinding, this.props.toggleMenuKeyBinding]);
  }

  export function toggleMenu (evt) {
    this.state.isActive ?
      this.hideMenu(evt) :
      this.showMenu(evt);
  }

  export function showMenu (evt) {
    if (this.state.isActive) return;
    if (evt) evt.stopPropagation();
    if (this.props.showMenuKeyBinding) removeKeybindings(this.props.showMenuKeyBinding);
    if (this.props.hideMenuKeyBinding) attachKeybinding(this.props.hideMenuKeyBinding, this.hideMenu);
    this.setState({isActive: true});
  }

  export function hideMenu (evt) {
    if (!this.state.isActive) return;
    if (evt) evt.stopPropagation();
    if (this.props.hideMenuKeyBinding) removeKeybindings(this.props.hideMenuKeyBinding);
    if (this.props.showMenuKeyBinding) attachKeybinding(this.props.showMenuKeyBinding, this.showMenu);
    this.setState({isActive: false});
    window.removeEventListener('click', this.onWindowClick);
  }

  export function scrollToMenu () {
    var menu = this.refs.menu && this.refs.menu.getDOMNode();
    if (!menu || !this.props.scrollToMenu) return;

    var defaultOptions = {
      align: 'bottom',
      ease: 'inOutSine',
      duration: 150,
      offset: 12
    };

    var scrollToMenuOptions = Object.assign(defaultOptions, this.props.scrollToMenuOptions);

    if (menu.getBoundingClientRect().bottom > window.innerHeight && scrollToElement) {
      scrollToElement(menu, scrollToMenuOptions);
    }
  }

  export function onWindowClick (evt) {
    if (!this.isMounted()) return;
    var el = this.getDOMNode();
    if (this.props.hideOnClick || !elContains(el, evt.target)) {
      this.hideMenu();
    }
  }